<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="tests/config.php"
        convertNoticesToExceptions="false">
    <testsuites>
        <testsuite name="WhatCounts REST Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!--<php>-->
        <!--<env name="realm" value="[your realm]" />-->
        <!--<eng name="password" value="[your realm password]" />-->
    <!--</php>-->

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">examples</directory>
            <directory suffix=".php">vendor</directory>
        </blacklist>
    </filter>
</phpunit>